.st4{fill:#EFEFEF;stroke:#231815;stroke-width:3;stroke-linecap:round;stroke-miterlimit:10;}
.st5{fill:#EFEFEF;stroke:#E3936B;stroke-width:3;stroke-linecap:round;stroke-miterlimit:10;}
.st6{fill:#EFEFEF;stroke:#E5A74A;stroke-width:3;stroke-linecap:round;stroke-miterlimit:10;}
.st7{fill:#EFEFEF;stroke:#EDD666;stroke-width:3;stroke-linecap:round;stroke-miterlimit:10;}
.st8{fill:#F9F9F9;stroke:#231815;stroke-width:4;stroke-linecap:round;stroke-miterlimit:10;}
.st9{fill:#FFFFFF;stroke:#C65037;stroke-width:3;stroke-miterlimit:10;}
.st10{display:none;fill:#F9F9F9;stroke:#231815;stroke-width:4;stroke-linecap:round;stroke-miterlimit:10;}
.st11{fill:#FFFFFF;stroke:#F0BD46;stroke-width:3;stroke-miterlimit:10;}
.st12{fill:none;stroke:#231815;stroke-width:2;stroke-linecap:round;stroke-miterlimit:10;}
.st13{display:inline;fill:#5DAAA4;stroke:#020202;stroke-miterlimit:10;}
.st14{display:inline;opacity:0.88;fill:#645DAC;stroke:#000000;stroke-miterlimit:10;}
.st15{fill:#74A52E;stroke:#020202;stroke-miterlimit:10;}
.st16{fill:#020202;}
.st17{fill:#EED04E;}
.st18{fill:#FFFFFF;}
.st19{fill:#8FD6B5;}
.st20{fill:#EEC33A;}
.st21{fill:#74A52E;stroke:#74A52E;stroke-miterlimit:10;}
.st22{fill:none;stroke:#0A0A0A;stroke-miterlimit:10;}
.st23{fill:none;stroke:#0A0A0A;stroke-width:0.75;stroke-miterlimit:10;}
.st24{display:inline;fill:none;stroke:#231815;stroke-width:2;stroke-linecap:round;stroke-miterlimit:10;}
.st25{display:inline;fill:none;stroke:#231815;stroke-width:0.5;stroke-linecap:round;stroke-miterlimit:10;}
.st26{display:inline;fill:#FFFFFF;stroke:#719C85;stroke-width:2;stroke-miterlimit:10;}
.st27{display:inline;fill:#F3B538;stroke:#C87600;stroke-miterlimit:10;}
.st28{fill:#F9F9F9;}
.st29{fill:none;stroke:#F3D86E;stroke-width:2;stroke-miterlimit:10;}
.st30{fill:none;stroke:#020202;stroke-miterlimit:10;}
.st31{display:inline;fill:#5397AF;stroke:#000000;stroke-miterlimit:10;}
.st32{fill:#F9F9F9;stroke:#231815;stroke-width:2;stroke-linecap:round;stroke-miterlimit:10;}
.st33{fill:#020201;}
.st34{fill:#E7BE3E;stroke:#000000;stroke-width:1.5;stroke-miterlimit:10;}
.st35{fill:#020202;stroke:#000000;stroke-width:1.5;stroke-miterlimit:10;}
.st36{fill:none;stroke:#000000;stroke-miterlimit:10;}
.st37{fill:none;stroke:#000000;stroke-width:2;stroke-miterlimit:10;}
.st38{fill:#7AAA29;stroke:#000000;stroke-miterlimit:10;}
.st39{display:inline;opacity:0.96;}
.st40{fill:#F9F9F9;stroke:#000000;stroke-width:2;stroke-miterlimit:10;}
.st41{fill:none;stroke:#020202;stroke-width:2;stroke-miterlimit:10;}
.st42{fill:#E1BF35;}
.st43{fill:#89A25D;}
.st44{display:inline;fill:none;stroke:#89A25D;stroke-miterlimit:10;}
.st45{fill:#84B031;stroke:#000000;stroke-width:3;stroke-miterlimit:10;}
.st46{fill:#EBE3B5;stroke:#E5B640;stroke-width:3;stroke-miterlimit:10;}
.st47{fill:#FBFCFA;stroke:#000000;stroke-miterlimit:10;}
.st48{fill:#020202;stroke:#000000;stroke-miterlimit:10;}
.st49{fill:none;stroke:#000000;stroke-width:4;stroke-miterlimit:10;}
.st50{fill:none;stroke:#000000;stroke-width:9;stroke-miterlimit:10;}
.st51{fill:#80B238;}
.st52{fill:#E6CA3A;}
.st53{fill:none;stroke:#000000;stroke-width:3;stroke-miterlimit:10;}
.st54{display:inline;fill:#020202;}
.st55{fill:#060504;}
.st56{fill:#E89679;}
.st57{fill:#C64D2C;}
.st58{fill:#EBC08C;}
.st59{fill:#AE3F2B;}
.st60{fill:#FBFCFA;stroke:#000000;stroke-width:2;stroke-miterlimit:10;}
.st61{stroke:#231815;stroke-linecap:round;stroke-miterlimit:10;}
.st62{fill:none;stroke:#231815;stroke-linecap:round;stroke-miterlimit:10;}
.st63{fill:none;stroke:#231815;stroke-width:0.75;stroke-linecap:round;stroke-miterlimit:10;}
.st64{fill:none;stroke:#231815;stroke-width:4;stroke-linecap:round;stroke-miterlimit:10;}
.st65{fill:#0B0704;}
.st66{fill:#265765;}
.st67{fill:#368B88;}
.st68{fill:#89AF37;}
.st69{fill:#5D8148;}
.st70{fill:none;stroke:#5D8148;stroke-width:2;stroke-miterlimit:10;}
.st71{fill:#52884E;}
.st72{fill:#FFFFFF;stroke:#000000;stroke-miterlimit:10;}
.st73{fill:#050505;}
.st74{fill:#FFFFFF;stroke:#000000;stroke-width:2;stroke-miterlimit:10;}
.st75{fill:none;stroke:#000000;stroke-width:10;stroke-miterlimit:10;}
.st76{fill:none;stroke:#000000;stroke-width:0.75;stroke-miterlimit:10;}
.st77{fill:none;stroke:#000000;stroke-width:5;stroke-miterlimit:10;}
.st78{display:inline;fill:none;stroke:#000000;stroke-width:2;stroke-miterlimit:10;}
.st79{display:inline;fill:none;stroke:#84B21F;stroke-width:3;stroke-linecap:round;stroke-linejoin:round;}
.st80{fill:#E5B640;}
.st81{fill:#FBFEFF;}
.st82{fill:#C9462D;}
.st83{fill:#0E1103;}
.st84{fill:#F1C335;}
.st85{fill:#F3BD42;}
.st86{fill:#B84E40;}
.st87{fill:none;stroke:#070707;stroke-miterlimit:10;}
.st88{display:inline;fill:none;stroke:#000000;stroke-width:2.75;stroke-miterlimit:10;}
.st89{display:inline;fill:none;stroke:#000000;stroke-width:1.7;stroke-miterlimit:10;}
.st90{fill:#F0EAB2;}
.st91{fill:#EFEFEF;stroke:#E3936B;stroke-width:6;stroke-linecap:round;stroke-miterlimit:10;}
.st92{fill:#EFEFEF;stroke:#E5A74A;stroke-width:7;stroke-linecap:round;stroke-miterlimit:10;}
.st93{fill:#EFEFEF;stroke:#EDD666;stroke-width:7;stroke-linecap:round;stroke-miterlimit:10;}
.st94{fill:#FFFFFF;stroke:#C65037;stroke-width:7;stroke-miterlimit:10;}
.st95{fill:#FFFFFF;stroke:#F0BD46;stroke-width:7;stroke-miterlimit:10;}
.st96{fill:#5DAAA4;stroke:#020202;stroke-miterlimit:10;}
.st97{opacity:0.88;fill:#645DAC;stroke:#000000;stroke-miterlimit:10;}
.st98{fill:#74A52E;}
.st99{fill:none;stroke:#231815;stroke-width:0.5;stroke-linecap:round;stroke-miterlimit:10;}
.st100{fill:#FFFFFF;stroke:#719C85;stroke-width:2;stroke-miterlimit:10;}
.st101{fill:#F3B538;stroke:#C87600;stroke-miterlimit:10;}
.st102{fill:#5397AF;stroke:#000000;stroke-miterlimit:10;}
.st103{fill:none;stroke:#52884E;stroke-width:2;stroke-miterlimit:10;}
.st104{opacity:0.96;}
.st105{fill:none;stroke:#89A25D;stroke-miterlimit:10;}
.st106{fill:none;stroke:#84B21F;stroke-width:3;stroke-linecap:round;stroke-linejoin:round;}
.st107{fill:none;stroke:#000000;stroke-width:2.75;stroke-miterlimit:10;}
.st108{fill:none;stroke:#000000;stroke-width:1.7;stroke-miterlimit:10;}
