<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title> My Website {% if page.title %} - {{ page.title }}{% endif %} </title>
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/svg style.css" />
    <link href="https://fonts.googleapis.com/css?family=Nunito|Nunito+Sans" rel="stylesheet">
  </head>

  <body>
    <a href="index.html">Homepage</a>
    <a href="SVG homework.html">SVG homework</a>
    <a href="Javascript homework.html">Javascript homework</a>
    <a href="d3.html">D3</a>
    <a href="final project idea.html">final project idea</a>


      {{ content }}

  </body>
  </html>
